@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}


/*---------------------- 
       Navbar 
----------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.navbar h1{
    font-size: 35px;
}

.navigations{
    display: flex;
}

.navigations li{
    list-style: none;
    margin-left: 10px;
}

.navigations li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 15px;
    font-weight: 600;
    transition: .1s;
}

.navigations li a:hover{
    color : #39cc77;
}

/* Toggle */

#toggle{
    display: none;
}
.toggle-icon{
    display: none;
}

/*---------------------- 
       Top Part 
----------------------*/

.top-part{
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
}

/* Top left  */


.top-left{
   
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.top-left h1{
    font-size: 60px;
    margin-bottom: 0;
}

.color{
    color: #38cc77;
}

.top-left p{
    font-size: 20px;
}

/* Button styles */

.btn{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: #38cc77;
    
    transition:.2s;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.btn:hover{
    width: 200px;
}
.arrow{
    transition: .1s;
    
}
.btn:hover .arrow{
    position: relative;
    padding-left: 20px;
    
}

/* Top right  */

.top-right{
    
    background-image: url('../images/Circle_design.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

/*---------------------- 
       Icon Part 
----------------------*/

.icon {
    height: 70px;
}
.icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top : 3px solid ;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, white , #C0CCDA, white);
    border-image-slice: 1;
}
.icon-list li{
    list-style: none;
    margin: 35px;
}


/*---------------------- 
    Collection Part 
----------------------*/

.collection-part>h1{
    margin-top: 200px;
    text-align: center;
    font-size: 35px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding : 0px 50px 50px 50px; 
    justify-content: center;
    grid-gap: 25px 30px;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    transition: .1s;
}
.card-top{
    align-self: center;
}
.card:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}


.card-heading{
    font-weight: 500;
    font-size: 28px;
}

.price{
    font-weight: normal;
    font-size: 24px;
}

.rating{
    font-size: 14px;
    color: orange;
}
.rate{
    font-weight: bold;
    padding-left: 10px;
    color: #5E6366;
}

.card-bottom p{
    font-size: 15px;
}

/* Bottom text  */
.see {
    text-align: right;
}
.see a{
    text-decoration: none;
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
    color: #38cc77;

}
.arrow2{
    font-size: 20px;
    color: #38cc77;
    padding-left: 10px;
}

/*---------------------- 
    Recent Item Part 
----------------------*/

.recent{
    margin-top: 150px;
    margin-bottom: 200px;

}
.recent h1{
    text-align: center;
    font-size: 30px;
}
.recent-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    justify-content: center;
}
.item{
    height: 250px;
    width: 250px;
    margin : 0 auto;
    overflow: hidden;
    
}
.item img{
    max-width: 100%;
}

.title{
    padding: 10px 0 14px 10px;
    border-radius: 5px;
    color : white;
    transform: translate(-140px , -70px);
    transition: .1s ease-in-out;
}

.item img:hover~.title{
    transform: translate(0px,-70px);
    background-image: linear-gradient(90deg , rgba(0, 0, 0, 0.6) , rgba(255, 255, 255, 0));
}


/* mini bug fix : title become invisible if hovered on title after image hover  */
.item .title:hover{
    transform: translate(0px,-70px);
    background-image: linear-gradient(90deg , rgba(0, 0, 0, 0.6) , rgba(255, 255, 255, 0));
}


/*----------------
      Footer 
------------------*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A0826 ;
    color: white;
    width: 100%;
}
.footer h1{
    margin-bottom: 0;
}
.footer p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    color: gray;
}
.footer-icon {
    display: flex;
}
.footer-icon li{
    list-style: none;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 25px;
    border: 1px white;

}

.footer-icon li a{
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

/*-----------------------
     Responsive CSS 
-------------------------*/

/* Table  */


@media (max-width : 1050px){
    
    .top-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }
    .top-right{
        order: -1;
        width: 100%;
    }
    .top-left{
        width: 80%;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding : 0px 50px 50px 50px; 
        justify-content: center;
        grid-gap: 25px 30px;
    }
    .collection-part>h1{
        margin-top: 300px;
    }
    .recent-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        justify-content: center;
    }
    .title{
        transform: translate(0px,-70px);
        background-image: linear-gradient(90deg , rgba(0, 0, 0, 0.6) , rgba(255, 255, 255, 0));
    }

    .toggle-icon{
        display: block;
        font-size: 30px;
    }

    .navigations{
        position: fixed;
        top: 70px;
        left: 0px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding : 20px 0;
        transform: translateY(-380px);
        transition: .1s;


    }
    .navigations li{
        margin : 10px 0;
    }
    #toggle:checked ~ .navigations{
        transform: translateY(0px);
    }
}

/* Mobile  */

@media (max-width : 699px){
    .top-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }
    .top-right{
        order: -1;
        width: 100%;
    }
    .top-left{
        width: 80%;
    }
    .icon-list{
        margin-top: 100px;
    }

    .collections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding : 0px 50px 50px 50px; 
        justify-content: center;
        grid-gap: 25px 30px;
    }
    .collection-part>h1{
        margin-top: 300px;
    }
    .recent-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        justify-content: center;
    }
    .title{
        transform: translate(0px,-70px);
        background-image: linear-gradient(90deg , rgba(0, 0, 0, 0.6) , rgba(255, 255, 255, 0));
    }
}

@media (max-width : 520px){
    .recent-items{
        grid-template-columns: 1fr;
    }
    .collection-part>h1{
        margin-top: 600px;
    }
    .icon-list{
        margin-top: 200px;
    }

}