@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}


/*---------------------- 
       Navbar 
----------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.navbar h1{
    font-size: 35px;
}

.navigations{
    display: flex;
}

.navigations li{
    list-style: none;
    margin-left: 10px;
}

.navigations li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 15px;
    font-weight: 600;
}

.navigations li a:hover{
    color : #39cc77;
}

/*---------------------- 
       Top Part 
----------------------*/

.top-part{
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
}

/* Top left  */


.top-left{
   
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.top-left h1{
    font-size: 60px;
    margin-bottom: 0;
}

.color{
    color: #38cc77;
}

.top-left p{
    font-size: 20px;
}

/* Button styles */

.btn{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: #38cc77;
    
    transition:.2s;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.btn:hover{
    width: 200px;
}
.arrow{
    transition: .1s;
    
}
.btn:hover .arrow{
    position: relative;
    padding-left: 20px;
    
}

/* Top right  */

.top-right{
    
    background-image: url('../images/Circle_design.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

/*---------------------- 
       Icon Part 
----------------------*/

.icon {
    height: 70px;
}
.icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top : 3px solid ;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, white , #C0CCDA, white);
    border-image-slice: 1;
}
.icon-list li{
    list-style: none;
    margin: 35px;
}


/*---------------------- 
    Collection Part 
----------------------*/

.collection-part>h1{
    margin-top: 200px;
    text-align: center;
    font-size: 35px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding : 0px 50px; 
    justify-content: center;
    grid-gap: 20px 30px;
}

.card{
    box-shadow: 10px 10px 20px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 20px;
}